extends default

block content
    #content
        div.recordHeader
            h1 TimerPeriodId: #{id}
            h1 TimerId: #{timerId}
            h3 Start Date: #{startDate}
            h3 End Date: #{endDate}
            h3 Total Time Elapsed:  Days: #{formattedTimes.days}, Hours: #{formattedTimes.hours}, Minutes: #{formattedTimes.minutes}, Seconds: #{formattedTimes.seconds}
            div.desktop
                div.CanvasWrapper
                    h1.CanvasHeader Periods from the Same Date and Their Sizes
                    canvas#myChart
            div.mobile
                div.CanvasWrapper
                    h1.CanvasHeader Periods from the Same Date and Their Sizes
                    canvas#myChartMobile
        h1 Related Records:
        p#idhidden #{id}
        p#timerIdHidden #{timerId}
        p#Hidden #{JSON.stringify(timerperiods)}
        div(id="referenceListUserAndIssue" class="ReferenceList")
        div(id="ReferenceList" class="ReferenceList")
        button(id="nextbtn" class="tabbtn" onclick="TabUp()") Next
        button(id="backbtn" class="tabbtn" onclick="TabDown()") Previous
    script(src="https://cdn.jsdelivr.net/npm/chart.js")
    script.
        var adjacentNames;
        var adjacentTimes;
        var index;
        const interval = 2;
        Main();
        async function Main()
        {
            await ListUserAndIssue();
            await ListTimerPeriods(0);
            await GetAdjacentPeriodsData();
            await GraphAdjacentPeriods();
            await GraphAdjacentPeriodsMobile();
        }
        async function ListTimerPeriods(index)
        {
            const timerperiodsReference = await document.getElementById("Hidden");
            var timerperiods = await JSON.parse(timerperiodsReference.textContent);
            const destinationDiv = document.getElementById("ReferenceList");
            for (var child of destinationDiv.childNodes)
            {
                destinationDiv.removeChild(child);
            }
            var links = destinationDiv.getElementsByClassName("ReferenceLink");
            for (var child of links)
            {
                child.remove();
            }
            timerperiods = timerperiods.slice(index, index + interval);
            for (let i = 0; i < timerperiods.length; i++)
            {
                var link = document.createElement('a');
                link.className = "ReferenceLink";
                link.href = "http://localhost:5220/views/timerperiodmodel/timerperiod/" + timerperiods[i].id;
                link.textContent = "Id: " + timerperiods[i].id + ", StartDate: " + timerperiods[i].startDate + ", EndDate: " + timerperiods[i].endDate + ", TimerId: " + timerperiods[i].timerId + "\n";
                destinationDiv.appendChild(link);
            }
        }
        async function ListUserAndIssue()
        {
            var idElement = await document.getElementById("timerIdHidden");
            var id = Number(idElement.textContent);
            var timerResponse = await fetch("http://localhost:5220/timermodel/" + id + "/timer");
            var timer = await timerResponse.json();
            var userResponse = await fetch("http://localhost:5220/timermodel/" + id + "/user");
            var user = await userResponse.json();
            var issueResponse = await fetch("http://localhost:5220/timermodel/" + id + "/issue");
            var issue = await issueResponse.json();
            var destinationDiv = await document.getElementById("referenceListUserAndIssue");
            var timerlink = await document.createElement('a');
            timerlink.className = "ReferenceLink";
            timerlink.href = "http://localhost:5220/views/timermodel/timer/" + id;
            timerlink.textContent = "Id: " + timer[0].id + ", userId: " + timer[0].userId + ", issueId: " + timer[0].issueId + "\n";
            destinationDiv.appendChild(timerlink);
            var userlink = await document.createElement('a');
            userlink.className = "ReferenceLink";
            userlink.href = "http://localhost:5220/views/usermodel/user/" + user[0].id;
            userlink.textContent = "Id: " + user[0].id + ", UserName: " + user[0].UserName + "\n";
            destinationDiv.appendChild(userlink);
            var issuelink = await document.createElement('a');
            issuelink.className = "ReferenceLink";
            issuelink.href = "http://localhost:5220/views/issuemodel/issue/" + issue[0].id;
            issuelink.textContent = "Id: " + issue[0].id + ", URL: " + issue[0].url + ", Name: " + issue[0].issueName + "\n";
            destinationDiv.appendChild(issuelink);
        }
        async function GetAdjacentPeriodsData()
        {
            var idElement = await document.getElementById("idhidden");
            var id = Number(idElement.textContent);
            var adjacentPeriodsResponse = await fetch("http://localhost:5220/timermodel/" + id + "/adjacenttimerperiods");
            var adjacentPeriods = await adjacentPeriodsResponse.json();
            adjacentTimes = await Promise.all(adjacentPeriods.map(async function(index){
                return index.totalTimeElapsed;
            }));
            adjacentNames = await Promise.all(adjacentPeriods.map(async function(index){
                var period = index.startDate.slice(0, 25) + " - " + index.endDate;
                console.log(period);
                return period;
            }));
            const numRecords = 10;
            if (adjacentTimes.length > numRecords)
            {
                adjacentTimes = adjacentTimes.slice(0, numRecords);
            }
            if (adjacentNames.length > numRecords)
            {
                adjacentNames = adjacentNames.slice(0, numRecords);
            }
        }
        async function GraphAdjacentPeriods()
        {
            var myChart = document.getElementById("myChart");
            new Chart(myChart, {
                type: 'bar',
                data: {
                labels: adjacentNames,
                datasets: [{
                    label: 'Time spent on period',
                    data: adjacentTimes,
                    borderWidth: 1,
                    backgroundColor: '#9BD0F5'
                }]
                },
                options: {
                scales: {
                    y: {
                    beginAtZero: true
                    }
                }
                }
            });
        }
        async function GraphAdjacentPeriodsMobile()
        {
            var myChart = document.getElementById("myChartMobile");
            new Chart(myChart, {
                type: 'bar',
                data: {
                labels: adjacentNames,
                datasets: [{
                    label: 'Time spent on period',
                    data: adjacentTimes,
                    borderWidth: 1,
                    backgroundColor: '#9BD0F5'
                }]
                },
                options: {
                scales: {
                    x: {
                        ticks: {
                        //option 2, use callback to change labels to empty string
                        callback: () => ('')
                        }
                    },
                    y: {
                    beginAtZero: true
                    }
                }
                }
            });
        }
        async function TabUp()
        {
            const timerperiodsReference = await document.getElementById("Hidden");
            var timerperiods = await JSON.parse(timerperiodsReference.textContent);
            if (index == null)
            {
                index = 0;
            }
            if ((timerperiods.length) > (Number(index) + interval))
            {
                index += interval;
                ListTimerPeriods(Number(index));
            }
        }
        async function TabDown()
        {
            if (index == null)
            {
                index = 0;
            }
            if (Number(index - interval) >= 0)
            {
                index -= interval;
                ListTimerPeriods(Number(index));
            }
        }
