extends default

block content
    #content
        div.recordHeader
            h1 Username: #{username}
            h1 User ID: #{id}
            h3 Total Time Spent Working On GitHub Issues: #{TotalTimeElapsed}
            h3 Total Issues Logged: #{issues.length}
        canvas#myChart
        h1 Logged Issues:
        p#Hidden #{JSON.stringify(issues)}
        div#referenceList
    script(src="https://cdn.jsdelivr.net/npm/chart.js")
    script.
        var names;
        var issueCounts;
        var timeSpentArray;
        Main();
        async function Main()
        {
            await ListIssues();
        }
        async function ListIssues()
        {
            const issuesReference = await document.getElementById("Hidden");
            const issues = await JSON.parse(issuesReference.textContent);
            const destinationDiv = document.getElementById("referenceList");
            for (let i = 0; i < issues.length; i++)
            {
                var link = document.createElement('a');
                link.className = "referenceLink";
                link.href = "http://localhost:5220/views/issuemodel/issue/" + issues[i].id;
                link.textContent = "Id: " + issues[i].id + ", URL: " + issues[i].url + ", Name: " + issues[i].issueName + "\n";
                destinationDiv.appendChild(link);
            }
        }